<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Markets" tabIcon="stats"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="News" tabIcon="globe"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Watch List" tabIcon="list-box"></ion-tab>
</ion-tabs>
