<!--
  Generated template for the StocksPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>stocks</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="stocks" >
  <ion-grid>
      <ion-row>
          <ion-col col-12>
            <h2>Recent Market Movers</h2>
            <ion-list>
              <ion-item class="list-item" *ngFor=" let s of stocksList">

                    <h2 class="name"> {{s.symbol}}</h2>
                    <h2 class="text"> {{s.companyName}}</h2>
                    <p class="text">{{s.primaryExchange}}</p>
                    <h4 class="text"> Has Moved {{s.change}} %</h4>
                 

             
                
                 

                    
    
                    <h2 item-end class="price">{{s.latestPrice}} </h2>
               
        


                    
     
                
                
   
              </ion-item>
            </ion-list>
          
          
          </ion-col>
      </ion-row>
  </ion-grid>

</ion-content>
