page-stocks {

    .list-item{

        .text{
            font-size: 0.8em;

        }

        .price{
            color: color($colors,secondary);
            font-weight: bold;
        }

        .name{
            color: color($colors,secondary);
            font-weight: bold;
            text-decoration: underline;
            font-size: 1.1em;

        }
    }

}
