page-home {


.tophome{
    background-color:map-get($colors, primary);
    border-radius: 25px 25px 0px 0px;
    padding-bottom: 1%;

}

.midhome{

    background-color:map-get($colors, primary);
    


}


}

