<ion-header>
  <ion-navbar>
    <ion-title>Home blah</ion-title>
  </ion-navbar>
</ion-header>

<ion-content  justify-content-center>
  <ion-grid>
        <ion-row>

          <!-- <ion-col col-12 class="tophome">
        
            <ion-row>
              <ion-col col-12>

                  <h1>[LOGO]</h1>
                  
                  
              </ion-col>
        
            </ion-row>

          </ion-col> -->
        
        </ion-row>

        <ion-row class="midhome" text-align center>
         
            </ion-row>
  </ion-grid>
</ion-content>
