// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #40407a,
  secondary:  #706fd3,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #3787d6,
  flatgrey: #296db1,
  flatpurple: #a29bfe
);

//top toolbar
$toolbar-md-background: color($colors, primary);

//bottom toolbar
$tabs-md-background: color($colors, primary);
$tabs-md-tab-color-active: color($colors, light);

$tabs-md-tab-color: color($colors, light);
$tabs-md-tab-text-color: color($colors, light);
$tabs-md-tab-color-active: color($colors, light);
$tabs-md-tab-color-inactive: color($colors, flatpurple);

$list-md-background-color:color($colors, light);
$list-md-text-color:color($colors, primary);



// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

$toolbar-ios-height:70px;
$toolbar-ios-background:color($colors, primary);

$tabs-ios-background: color($colors, primary);
$tabs-ios-tab-color-active: color($colors, light);
$tabs-ios-tab-color-inactive: color($colors, flatpurple);

$list-ios-background-color:color($colors, light);
$list-ios-text-color:color($colors, primary);





// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
